* {
    margin:0;
}

.mainBox {
    display:flex

}

.square {
    min-width:40px;
    min-height:40px;
    background-color:rgb(244, 244, 244);
    border: 1px black solid
    
}


.moused {
    background-color:black;
}

/* Mobile Settings */
.mobile #inst {
    font-size:40px;
    margin: 14px;
}

.mobile button {
    max-width: 300px;
    width:300px;
    height:100px;
    font-size:40px;
}

/* Computer Settings */
button {
    max-width:100px;
    margin:10px;
}

#inst {
    margin:10px
}